<div id="rendering" class="rendering-container" >

  <img alt="Logo" src="../assets/logo.png">
  <div class="framework" >
    <h1> Angular Test </h1>
  </div>

  <div class="buttons-container">
    <button class="Btn" (click)="createRows(1000)"> Create 1000 rows </button>
    <button class="Btn" (click)="addRows(1000)"> Add 1000 rows </button>
    <button class="Btn" (click)="createRows(10000)"> Create 10 000 rows </button>
    <button class="Btn" (click)="addRows(10000)"> Add 10 000 rows </button>
    <button class="Btn" (click)="removeRows()"> Clear </button>
  </div>
</div>

<div id="app">
  <table class="data-table">
    <tbody>
      <app-row
        (addEvent)="onAdd($event)"
        (createEvent)="onCreate($event)"
        (removeEvent)="onRemove()"
        *ngFor="let row of data"
        [id]="row.id"
        [label]="row.label"
      ></app-row>
    </tbody>
  </table>
</div>