<div id="server" class="server-container" >
  <img alt="Logo" src="../assets/logo.png">
  <div class="framework" >
    <h1> Angular Server Test </h1>
  </div>

  <div class="buttons-container">
    <button class="Btn" (click)="onCreateOneThousandRows(1000)"> Create 1 000 rows </button>
    <button class="Btn" (click)="onCreateTenThousandsRows(10000)"> Create 10 000 rows </button>
    <button class="Btn" (click)="onGetOneThousandRows()"> Get 1 000 rows collection </button>
    <button class="Btn" (click)="onGetTenThousandsRows()"> Get 10 000 rows collection</button>
    <button class="Btn" (click)="onUpdateOneThousandRows(1000)"> Add 1 000 rows </button>
    <button class="Btn" (click)="onUpdateTenThousandsRows(10000)"> Add 10 000 rows </button>
    <button class="Btn" (click)="onRemove()"> Clear page </button>
    <button class="Btn" (click)="clearDatabase()"> Clear database </button>
  </div>
</div>

<div id="app">
  <table class="data-table">
    <tbody>
      <app-row
        *ngFor="let row of data"
        [id]="row.id"
        [label]="row.label"
      ></app-row>
    </tbody>
  </table>
</div>