.App {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.menu-container {
  position: fixed;
  background-color: white;
  width: 1200px;
  height: 200px;
  border: solid 1px;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1px;
}

img {
  height: 198px;
  float: left;
}

.framework {
  float: left;
  font-size: 35px;
  margin-left: 10px;
  color: black;
}

.buttons-container {
  width: 600px;
  height: 200px;
  float: right;
}

.Btn {
  width: 250px;
  margin: 10px;
  color: white;
  padding: 10px 24px;
  background-color: #0091ea;
  border-radius: 7px;
  border: none;
  font-size: 21px;
}

.Btn:hover {
  cursor: pointer;
}

.data-table {
  width: 1200px;
  padding-top: 210px;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 2px;
}

.small-col {
  width: 200px;
  background-color: #e0f2f1;
}

.big-col {
  width: 1000px;
  background-color: #e0f2f1;
}
